In [1]:
import pandas as pd
column_names = [
    "medallion",
    "hack_license",
    "pickup_datetime",
    "dropoff_datetime",
    "trip_time_in_secs",
    "trip_distance",
    "pickup_longitude",
    "pickup_latitude",
    "dropoff_longitude",
    "dropoff_latitude",
    "payment_type",
    "fare_amount",
    "surcharge",
    "mta_tax",
    "tip_amount",
    "tolls_amount",
    "total_amount",
]

# Read the data from the CSV file and assign column names
df = pd.read_csv("taxi-data-sorted-small.csv", sep=',', header=None, names=column_names)
df.head()

,medallion,hack_license,pickup_datetime,dropoff_datetime,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,07290D3599E7A0D62097A346EFCC1FB5,E7750A37CAB07D0DFF0AF7E3573AC141,2013-01-01 00:00:00,2013-01-01 00:02:00,120,0.44,-73.956528,40.716976,-73.962440,40.715008,CSH,3.5,0.5,0.5,0.0,0.0,4.5
1,22D70BF00EEB0ADC83BA8177BB861991,3FF2709163DE7036FCAA4E5A3324E4BF,2013-01-01 00:02:00,2013-01-01 00:02:00,0,0.00,0.000000,0.000000,0.000000,0.000000,CSH,27.0,0.0,0.5,0.0,0.0,27.5
2,0EC22AAF491A8BD91F279350C2B010FD,778C92B26AE78A9EBDF96B49C67E4007,2013-01-01 00:01:00,2013-01-01 00:03:00,120,0.71,-73.973145,40.752827,-73.965897,40.760445,CSH,4.0,0.5,0.5,0.0,0.0,5.0
3,1390FB380189DF6BBFDA4DC847CAD14F,BE317B986700F63C43438482792C8654,2013-01-01 00:01:00,2013-01-01 00:03:00,120,0.48,-74.004173,40.720947,-74.003838,40.726189,CSH,4.0,0.5,0.5,0.0,0.0,5.0
4,3B4129883A1D05BE89F2C929DE136281,7077F9FD5AD649AEACA4746B2537E3FA,2013-01-01 00:01:00,2013-01-01 00:03:00,120,0.61,-73.987373,40.724861,-73.983772,40.730995,CRD,4.0,0.5,0.5,0.0,0.0,5.0

In [2]:
#Checking for missing values
missing_values = df.isna().sum()
missing_values

medallion            0
hack_license         0
pickup_datetime      0
dropoff_datetime     0
trip_time_in_secs    0
trip_distance        0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
payment_type         0
fare_amount          0
surcharge            0
mta_tax              0
tip_amount           0
tolls_amount         0
total_amount         0
dtype: int64

In [3]:
len(df)

1999999

# Task 1 : Top-10 Active Taxis

In [4]:
driver_counts = df.groupby("medallion")["hack_license"].nunique()
driver_counts

medallion
00005007A9F30E289E760362F69E4EAD    2
000318C2E3E6381580E5C99910A60668    8
0009986BDBAB2F9A125FEF49D0BFCCDD    1
00153E36140C5B2A84EA308F355A7925    1
001D3B86C2ACDEE4D1B98AFE52969F3D    1
                                   ..
FFED7CFCB1A658ADEC2DC6A899047060    2
FFEE0D464EEA83AF6EA50CA5738B5610    1
FFEF5E9BA26FC9B6B5F2CF433833572D    2
FFF010F904EF7B60DAF12560AFE5127C    1
FFFECF75AB6CC4FF9E8A8B633AB81C26    2
Name: hack_license, Length: 10867, dtype: int64

In [5]:
top_ten_taxis = driver_counts.sort_values(ascending=False).head(10)

In [6]:
print("Top ten taxis with the largest number of drivers:")
for medallion, num_drivers in top_ten_taxis.items():
    print(f"Medallion: {medallion}, Number of Drivers: {num_drivers}")

Top ten taxis with the largest number of drivers:
Medallion: 65EFB7D02BAD12D5DE757CB5D350944E, Number of Drivers: 20
Medallion: 3C08296D0EB7ABE24FB7328DE9B62813, Number of Drivers: 20
Medallion: 7DEB25123AE57111F912C0EBF92F1F63, Number of Drivers: 19
Medallion: 799153A138F4E8334A1A95AE25040B83, Number of Drivers: 19
Medallion: 3B6AE3CF05F34ADC91DC68D20F2EB913, Number of Drivers: 19
Medallion: F36564AB9C6EA3B6373EB0E1680A447A, Number of Drivers: 19
Medallion: 55D311AD2752BC278BEF7386B25B28A9, Number of Drivers: 19
Medallion: CD7B02776E69483397952DC5E1F44DFE, Number of Drivers: 19
Medallion: F2A08960199BCDB7EE19411A8E7A4C5D, Number of Drivers: 18
Medallion: 6B15D153B49701AD86A2E62468990B73, Number of Drivers: 18

# Task 2 - Top-10 Best Drivers

In [7]:
import time
start_time = time.time()

df = df[(df['total_amount'] > 0) & (df['trip_time_in_secs'] > 60)]

# Calculate money earned per minute for each trip
df['money_per_minute'] = df['total_amount'] / (df['trip_time_in_secs'] / 60)

# Group the data by driver and calculate the average money earned per minute
driver_money_per_minute = df.groupby('hack_license')['money_per_minute'].mean().reset_index()
driver_money_per_minute.columns = ['driver', 'money_per_minute']

sorted_drivers = driver_money_per_minute.sort_values(by='money_per_minute', ascending=False)

top_10_drivers = sorted_drivers.head(10)

print("Top 10 Best Drivers (driver, money per minute):")
print(top_10_drivers)

end_time = time.time()
processing_time = end_time - start_time
print(f"Processing Time: {processing_time} seconds")

Top 10 Best Drivers (driver, money per minute):
                                 driver  money_per_minute
13585  AB99BCE7F14E04800ECA76197D5A054D         89.508197
1687   156109AB38DC8759A84319BBCA20D49A         77.753876
16610  D21B106FDDFB5368574C4D8C2088C9EC         72.757895
17990  E3327181970F3A10BB4572E65883BB3A         50.454545
3913   32187D24B8C6D9DC9B1254330292F42E         45.336264
9591   7930AF3429B99C59346390635AFDFFCF         37.312369
1688   15661F3540CB2AAFAE5A2E9488256A85         32.727273
88     011AE79C7E609378068514E5C992B6D6         31.470588
6987   583D58A6E31DBAF275DDFAD1857448D2         26.619718
15085  BED6F63CE2A4072BB48B6CAB6DF46518         24.220838
Processing Time: 1.3920657634735107 seconds

# Task 3 - Best time of the day to Work on Taxi

In [8]:
df1=pd.read_csv("taxi-data-sorted-small.csv", sep=',', header=None, names=column_names)

In [9]:
df1 = df1[(df1["trip_distance"] > 0) & (~df1["surcharge"].isna()) & (df1["surcharge"]>0)]

In [10]:
df1["pickup_datetime"] = pd.to_datetime(df1["pickup_datetime"])
df1["hour_of_day"] = df1["pickup_datetime"].dt.hour

In [11]:
df1["profit_ratio"] = df1["surcharge"] / df1["trip_distance"]

In [12]:
hourly_profit_ratio = df1.groupby("hour_of_day")["profit_ratio"].mean()
best_hour = hourly_profit_ratio.idxmax()
best_hour

11

In [13]:
print("The best time of the day with the highest profit ratio is hour", best_hour)

The best time of the day with the highest profit ratio is hour 11